@import './vars.scss';
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: $primary;
    text-decoration: none;
}

a:hover {
    color: $dark-100;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    @media (max-width: 1200px) {
        max-width: 960px;
    }
    @media (max-width: 960px) {
        padding: 0 $m2;
    }
}