$primary: #2d3092;
$secondary: #3ba0ff;
$terciary: #030431;
$white: #fff;
$gray-100: #eee;
$gray-200: #86878a;
$dark-100: #222;
$dark-300: #0b0b1d;
$m1: 20px;
$m2: 40px;
$m3: 60px;
$f1: 16px;
$f2: 18px;
$f3: 22px;
$f4: 26px;
$f5: 32px;