@import 'styles/vars.scss';
.carousel {
    position: relative;
    overflow: hidden;
    .carouselContainer {
        display: flex;
        .slide {
            position: relative;
            flex: 0 0 100%;
            background-color: #bcddff;
            min-height: 793px;
            .slideContainer {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                span:first-child {
                    margin-top: 200px;
                    font-size: 20px;
                    color: $primary;
                }
                span:nth-child(2) {
                    font-size: 50px;
                    font-weight: bold;
                    color: $terciary;
                    max-width: 500px;
                    margin-top: $m2;
                }
                .Button {
                    margin: $m3 0;
                }
            }
            .imgWrapper {
                position: absolute;
                right: 0;
                top: 0;
                @media (max-width: 1200px) {
                    display: none;
                }
            }
        }
    }
    .buttonPrev {
        position: absolute;
        top: 400px;
        left: 30px;
        background: none;
        border: none;
        cursor: pointer;
    }
    .buttonNext {
        position: absolute;
        top: 400px;
        right: 30px;
        background: none;
        border: none;
        cursor: pointer;
    }
    .buttonPrev svg,
    .buttonNext svg {
        height: 30px;
        fill: $secondary;
    }
    .buttonNext:disabled svg,
    .buttonPrev:disabled svg {
        fill: $gray-200;
    }
    .dotsWrapper {
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
        .dot {
            background: $gray-200;
            border: none;
            margin: 2px;
            height: 5px;
            width: 40px;
            cursor: pointer;
        }
        .dotSelected {
            background: $secondary;
            cursor: pointer;
        }
    }
}