@import 'styles/vars.scss';
.Nav {
    height: 100px;
    border-bottom: 1px solid $gray-100;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .logo {
            font-weight: bold;
            color: $primary;
            font-size: $f5;
        }
        nav {
            display: flex;
            flex-wrap: wrap;
        }
        nav a {
            color: $dark-100;
            font-size: $f2;
            font-weight: bold;
            margin-left: $m3;
        }
        nav a:hover {
            color: $secondary;
        }
    }
}